body {
  margin: 0 auto;
  background: url('https://s3.amazonaws.com/americantobacco/images/News+Photos/_F2C0145+-0150+Panorama+small.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: Georgia;
}

#topMargin {
  padding-bottom: 50px;
}

#bottomMargin {
  padding-top: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 50px;
  width: 45%;
  min-width: 264px;
  margin: auto;
  background: rgba(255, 255, 255, .85);
  padding-top: 5px;
}

h1 {
  font-size: 48pt;
  text-align: center;
  line-height: 90%;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #454545;
  font-weight: normal;
}

h2 {
  color: #454545;
  font-size: 36px;
  margin: 0px;
}

#bio {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
}

.projectThumbnail {
  height: auto;
  max-width: 100%;
  border-radius: 50%;
  margin: 0px;
}

.iconTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: auto;
}

#headshot {
  height: 200px;
  width: 200px;
  margin: auto;
}

#social {
  display: flex;
  justify-content: center;
}

.socialIcon {
  height: 34px;
  width: auto;
  padding: 5px;
}

#projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.project {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 100%;
  min-width: 175px;
}

.project:hover .overlay {
  width: 74%;
  left: 26%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .25s ease;
}

.overlayText {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: wrap;
}

#header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-top: thin solid #bbb;
  font-family: Helvetica, sans-serif;
  font-size: 10pt;
}

a {
  text-decoration: none;
  color: black;
}
