body {
  margin: 0 auto;
  background: url('https://s3.amazonaws.com/americantobacco/images/News+Photos/_F2C0145+-0150+Panorama+small.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: Georgia;
}

/*.main {
  background-color: #abcdef;
}*/

#topMargin {
  padding-bottom: 50px;
}

#bottomMargin {
  padding-top: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 50px;
  width: 45%;
  margin: auto;
  background: rgba(255, 255, 255, .85);
  padding-top: 5px;
}

h1 {
  font-size: 48pt;
  text-align: center;
  line-height: 90%;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #454545;
  font-weight: normal;
}

h2 {
  color: black;
}

#bio {
  padding-left: 10px;
  padding-top: 25px;
}

.projectThumbnail {
  height: 115px;
  width: 115px;
  border-radius: 50%;
}

#headshot {
  height: 200px;
  width: 200px;
  margin: auto;
}

#social {
  /*width: 100%;*/
  display: flex;
  justify-content: center;
  /*margin: auto;*/
}

.socialIcon {
  height: 34px;
  width: auto;
  padding: 5px;
}

#projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

#header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-top: thin solid #bbb;
  font-family: Helvetica, sans-serif;
  font-size: 10pt;
}

a {
  text-decoration: none;
  color: black;
}
